.flightButton {
  padding-top: 13px;
  padding-bottom: 13px;
}

.flightSuggestion {
  transition: all 0.2s ease;
  cursor: pointer;
}

.flightSuggestion:hover {
  background-color: #2563eb;
  color: white;
}

.flightTableContainer {
  height: 615px;
  overflow-y: auto;
  border-radius: 8px;
  padding-bottom: 15px;
}

.flightTableHeader {
  background-color: #f9fafb;
}